.color-picker {
    // width: 110px;
    // height: 110px;
    display: grid;
    grid-template-columns: 35px 35px 35px;
    grid-template-rows: 35px 35px 35px;
    align-items: center;
    justify-items: center;
    .color-container {
        background: none;
        // background-color: #fff;
        background-position: 50%;
        background-size: cover;
        cursor: pointer;
        color: white;
        height: 28px;
        width: 28px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.selected::after {
            // border: 1px solid black;
            content: "✔";
        }
    }
}
