
  body {
    background-color: #026aa7;
    margin: 0;
    /* background-position: 50%; */
    background-attachment: fixed;
    background-size: cover;
  }
  

  * {
    box-sizing: border-box;

  }

  ::-webkit-scrollbar {
    width:16px;
  }

  ::-webkit-scrollbar-track {
    background-color: #b8beba;
    border-radius: 3px;
    margin: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccd1cd;
    border-radius: 3px;
  }

  h1,h2,h3,h4,h5,h6,input,
  textarea,p,a{
    margin: 0;
  }