// Colors
$dark-green: #40a35b;
$dark-green2: #338148;
$green: #4bbf6b;
$green2: #5aac44;
$text-color: #9fd1ad;
$dark-grey: #9a9b9c;
$dark-grey1: #b8bdc5;
$dark-grey2: #dfe1e6;
$bright-grey: #ebecf0;
$bright-grey2: #f5f6fa;
$bright-grey3: #f4f5f7;
$btn-hover-color: #85d49b;
$btn-hover-color2: #dafae3;
$font-color: #2e405f;
$font-color2: #707c90;


// Fonts
$basic-font: Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
$logo-font: logo-font;
